configuration {
	modi:				"drun";
	font:				"Iosevka Nerd Font Semibold 10";
	display-drun: 			"";
	drun-display-format:            "{name}";
        terminal:                       "kitty";
}

@theme "theme"
